<div class="row" *ngIf="users$ | async as users; else loader">
  <div class="col s12">
      <div class="collection" *ngIf="users.length !== 0; else empty">
        <label>Search: <input [(ngModel)]="searchText"></label>
      <table>
        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>День рождения</th>
          <th>Ip адрес</th>
          <th>Статус</th>
        </tr>
        <tr *ngFor="let user of users | userFilter:searchText">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.birthDate }}</td>
          <td>{{ user.ipAddress }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </table>
    </div>
    <ng-template #empty>
      <div class="center">
        <p>Нет записи</p>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <p>Loading ...</p>
</ng-template>

<router-outlet></router-outlet>
